<div id="title-wrapper">
  <h1 id="top-title">
    <a href={{ site.baseurl | prepend: site.url }}>
      {{site.title | upcase}}
    </a>
</div>
<div id="top-menu">
  <div id="page-selection">
    <a href="{{ '/chap0' | prepend: site.baseurl | prepend: site.url }}">Introduction</a>
    <a href="{{ '/chap1' | prepend: site.baseurl | prepend: site.url }}">L'anaglyphe</a>
    <a href="{{ '/chap2' | prepend: site.baseurl | prepend: site.url }}">La polarisation</a>
    <a href="{{ '/chap3' | prepend: site.baseurl | prepend: site.url }}">Conclusion</a>
    <a href="{{ '/sitographie' | prepend: site.baseurl | prepend: site.url }}">Sitographie</a>
  </div>
</div>




